/* Адаптивка */

/* Small devices (tablets, 768px and up) */

@media screen and (min-width: 768px)
	.slider__title
		font-size: $_52px

	.offer__cards-box
		height: 540px


/* Medium devices (desktops, 992px and up) */

@media screen and (min-width: 992px)
	.container

	.header
		padding: 28px 0 57px

	.header__logo
		margin: 0

	.header__pages-list
		text-align: right

	.header__pages_item
		line-height: 60px
		padding: 0 14px
		display: inline-block
		border: none

	.mega-menu__block, .contacts__block
		left: 30px
		top: 75px

	.mega-menu__block
		left: 2px

	.mega-menu__title
		margin: 10px 0 50px 78px

	.contacts__title
		margin-top: 0

	.mega-menu__article-img
		margin: 18px 0 0 -16px

	.mega-menu__article-title
		display: inline-block

	.mega-menu__article-text
		margin: 0 0 42px 155px

	.mega-menu__block::before
		left: 92.2%

	.contacts__block::before
		left: 53.8%

	.contacts__work-time-list
		margin: 0 -60px 0 104px

	.contacts__service-title, .contacts__registration-title
		margin-right: -50px

	.slider__title
		font-size: $_70px
		line-height: 70px

	.about
		padding-left: 52px

	.about__title
		font-size: $_60px
		line-height: 68px
		margin-top: 64px
		letter-spacing: -3px

	.about__read-more
		margin: 28px 0

	.slogan__text
		padding: 40px 0
		font-size: $_48px
		color: #000
		text-align: center
		font-weight: 400

	.news
		padding: 0 42px 20px
		text-align: left
		height: 540px

	.news__block-name
		font-size: $_54px

	.offer__card-post-index
		text-align: left

	.offer__card-post-index .jq-selectbox__dropdown
		right: -156px !important

	.offer__card-place
		width: 94%;

	.inner-footer
		padding-bottom: 0

	.footer-aftrword
		padding-right: 72px

	.footer-copyright
		color: #8a8d94
		font-family: Frutiger
		font-size: $_12px
		background-color: #1f2021
		line-height: 65px

	.footer-copyright__date
		float: left

	.footer-copyright__name
		float: right

/* Large devices (large desktops, 1200px and up) */

@media screen and (min-width: 1200px)
	.header__pages_item
		padding: 0 25px

	.header__control
		text-align: right
		margin-top: 0

	.header__control-search, .header__control-login, .header__control-menu
		vertical-align: middle
		float: none

	.header__control-search
		margin-right: 12%

	.header__control-login
		margin-right: 9%

	.header__control-menu-title
		display: inline-block

	.slider__bottom-elem
		display: inline-block

	.offer__tabs
	margin: 0