/* Адаптивка */

/* Small devices (tablets, 768px and up) */

@media screen and (min-width: 768px)

	.inner-header
		padding-top: 40px

	.header__nav
		display: block

	.header__logo-mini
		display: block

	.header__tagline
		text-align: right

	.header__tagline:after
		content: "development"
		display: inline-block

	.header__dropdown-menu
		display: none

	.header__slider
		display: block

	.header__slider-box
		width: 61%

	.header__slider-box2
		width: 18.2%
		bottom: 17.5%

	.header__slider-toggle
		padding-left: 0

/* Medium devices (desktops, 992px and up) */

@media screen and (min-width: 992px)

	.inner-header
		padding-top: 76px

	.header__logo
		display: block

	.header__nav
		padding-left: 62px

	.header__nav-link
		padding-right: 38px

	.header__logo-mini
		display: none

	.header__tagline
		text-align: left
		padding-top: 65px

	.header__text
		text-align: left
		padding-right: 20px

	.header__slider-box
		bottom: 17.8%;
		left: 12%;
		width: 62%;

	.header__slider-box2
		bottom: 15.8%
		left: 69.4%
		width: 18.2%

/* Large devices (large desktops, 1200px and up) */

@media screen and (min-width: 1200px)

	.row
		margin-right: -15px
		margin-left: -15px

	.header__nav
		padding-left: 0

	.header__tagline
		margin-left: 15px

	.header__view-more
		display: block
		width: 150px

	.header__view-more-center
		display: none